@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  font: inherit;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --font-family-default: "Montserrat", sans-serif;
  --font-family-secondary: "Fraunces", serif;

  --fw-500: 500;
  --fw-700: 700;

  --clr-primary-1: hsl(30, 38%, 92%);
  --clr-primary-2: hsl(158, 36%, 37%);
  --clr-neutral-1: hsl(0, 0%, 100%);
  --clr-neutral-2: hsl(228, 12%, 48%);
  --clr-neutral-3: hsl(212, 21%, 14%);
}

body {
  font-size: 0.85rem;
  font-family: var(--font-family-default);
  font-weight: var(--fw-500);
  line-height: 1.7;
  background-color: var(--clr-primary-1);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.product-container {
  max-width: 37.5rem;
  max-height: min-content;
  margin-inline: 1rem;
  background-color: var(--clr-neutral-1);
  border-radius: 0.5rem;
  overflow: hidden;
}

.product-description {
  color: var(--clr-neutral-2);
  padding: 1.4rem;
}

.product-category {
  letter-spacing: 0.3rem;
  font-size: 0.75rem;
}

.product-title {
  --flow-spacer: 0.5rem;
  font-weight: var(--fw-700);
  font-size: 2rem;
  font-family: var(--font-family-secondary);
  color: var(--clr-neutral-3);
  line-height: 1;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-price {
  font-size: 2rem;
  font-family: var(--font-family-secondary);
  font-weight: var(--fw-700);
  color: var(--clr-primary-2);
}

.original-price {
  font-size: 0.825rem;
  text-decoration: line-through;
}

.button {
  --flow-spacer: 0.5rem;
  width: 100%;
  padding: 0.75rem;
  font-weight: var(--fw-700);
  background-color: var(--clr-primary-2);
  color: var(--clr-neutral-1);
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.button::before {
  content: "";
  background-image: url("images/icon-cart.svg");
  width: 15px;
  height: 16px;
}

.button:hover {
  background-color: hsl(159, 36%, 17%);
}

.flow > * + * {
  margin-top: var(--flow-spacer, 0.9rem);
}

@media screen and (min-width: 769px) {
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .product-description {
    padding: 2rem;
  }

  .product-title {
    --flow-spacer: 1rem;
  }

  .flow > * + * {
    margin-top: var(--flow-spacer, 1.5rem);
  }
}
