@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  font: inherit;
  box-sizing: border-box;
}

:root {
  --font-family-default: "Montserrat", sans-serif;
  --font-family-secundary: "Fraunces", serif;
  --clr-primary-1: hsl(158, 36%, 37%);
  --clr-primary-2: hsl(30, 38%, 92%);
  --clr-neutral-1: hsl(212, 21%, 14%);
  --clr-neutral-2: hsl(228, 12%, 48%);
  --clr-neutral-3: hsl(0, 0%, 100%);
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-size: 0.875rem; /* 14px */
  font-family: var(--font-family-default);
  background-color: var(--clr-primary-2);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  margin: 0 1rem;
  background-color: var(--clr-neutral-3);
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 37.5rem;
}

.flex-flow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-description {
  color: var(--clr-neutral-2);
  padding: 1.5rem;
}

.product-category {
  letter-spacing: 0.3rem;
  font-size: 0.8rem;
}

.product-title {
  font-weight: 700;
  font-size: 2rem;
  font-family: var(--font-family-secundary);
  color: var(--clr-neutral-1);
}

.flex-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.discount-price {
  font-size: 2rem;
  font-family: var(--font-family-secundary);
  font-weight: 700;
  color: var(--clr-primary-1);
}

.actual-price {
  text-decoration: line-through;
}

.button {
  justify-content: center;
  background-color: var(--clr-primary-1);
  border: 0;
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--clr-neutral-3);
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  background-color: hsl(159, 36%, 17%);
}

@media screen and (min-width: 769px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section-img {
    content: url("images/image-product-desktop.jpg");
    max-width: 100%;
  }

  .flex-flow {
    justify-content: center;
  }
}
